{% extends "base.html" %}

{% block title %}Детальная информация о посте{% endblock %}

{% block content %}
    <h2>{{post.title}}</h2>

    {% if post.image %}
        <img src='{{post.image.url}}' style="max-width: 100%; height: auto;">
    {% endif %}

    <p>
        {{post.body}}
    </p>

    <h3>
        {{ post.created_at|date:"d.m.Y в H:i" }}
    </h3>

    <section>
        <h3>Комментарии ({{ post.comments.count }}):</h3>

        {% if user.is_authenticated %}
            <form method='post'>
                {% csrf_token %}
                {{form.as_p}}
                <button type='submit'>Отправить</button>
            </form>
        {% else %}
            <p>
                <a href={% url "login" %}>Войдите в аккаунт</a>
            </p>
        {% endif %}

        {% for comment in post.comments.all %}
            <p>Author: {{comment.author.username}}</p>
            <p>{{comment.body}}</p>
            <p>{{comment.created_at}}</p>

        {%empty%}
            <p>Пока нет комментариев. Будьте первым!</p>
        {% endfor %}
    </section>

{% endblock %}